<h1>Game of Life</h1>

<%= render partial: "game", locals: {game: @game} %>

<%= link_to "Previous Generation", game_generation_url("glider", @id - 1) %> -
<%= link_to "Next Generation", game_generation_url("glider", @id + 1) %>